body {
    background-color: #b8ffdc;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #45CEEF;    
    -webkit-animation: pulse 40s infinite alternate;
}


@-webkit-keyframes pulse {
      0% {background-color: #FF6138;}
     25% {background-color: #FFFF9D;}
     50% {background-color: #BEEB9F;}
     75% {background-color: #79BD8F;}
     100% {background-color: #00A388;}
}
 
body {
     background-color: #45CEEF;    
     -webkit-animation: pulse 40s infinite alternate;
 
}
h1 {
    font-family: "Tahoma", Arial, sans-serif;
    font-size: 10em;
    color: #ffffff;
}

p {
    font-family: "Tahoma", Arial, sans-serif;
    font-size: 1em;
    color: #1e3f66;
}
