body {
    background-color: #b8ffdc;
    margin-left: 80px;
    margin-right: 80px;
    background-color: #45CEEF;    
    -webkit-animation: pulse 40s infinite alternate;
}


@-webkit-keyframes pulse {
      0% {background-color: #45CEEF;}
     25% {background-color: #FFF5A5;}
     50% {background-color: #FFD4DA;}
     75% {background-color: #99D2E4;}
     100% {background-color: #D8CAB4;}
}
 
body {
     background-color: #45CEEF;    
     -webkit-animation: pulse 40s infinite alternate;
 
}
h1 {
    font-family: "Tahoma", Arial, sans-serif;
    font-size: 10em;
    color: #ffffff;
}

p {
    font-family: "Tahoma", Arial, sans-serif;
    font-size: .5em;
    color: #1e3f66;
}
