body {
    background-color: #d0f1e4;
}

h1 {
    font-family: "Tahoma", Arial, sans-serif;
    font-size: 10em;
    color: #1e3f66;
}

p {
    font-family: "Tahoma", Arial, sans-serif;
    font-size: 1em;
    color: #1e3f66;
}
